*.pyc
*.log
node_modules
coverage/
arches_common/logs
arches_common/export_deliverables
arches_common/cantaloupe/*
arches_common/staticfiles
arches_common/media/packages
arches_common/media/build/
arches_common/uploadedfiles/*
arches_common/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
package-lock.json
.idea/
