*.pyc
*.log
node_modules
coverage/
bcgov_arches_common/logs
bcgov_arches_common/export_deliverables
bcgov_arches_common/cantaloupe/*
bcgov_arches_common/staticfiles
bcgov_arches_common/media/packages
bcgov_arches_common/media/build/
bcgov_arches_common/uploadedfiles/*
bcgov_arches_common/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
frontend_configuration/**
package-lock.json
.idea/
